:root {
  --main-color: #171570;
  --secondary-color: #118a59;
  --text-dark: #9f9292;
  --links: #ffd08f;
}

* {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url(IMG/audience.jpg);
  background-size: cover;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 280px);
  padding: 150px 0 0 20% ;
  color: var(--main-color);
  
}

.main-container__title {
  font-family: "Rubik", sans-serif;
  font-size: 72px;
  letter-spacing: 0.16em;
  margin-left: 50px;
  position: relative;
}

.main-container__title:before {
  content: "";
  display: inline-block;
  background-color: var(--main-color);
  width: 42px;
  height: 72px;
  border-radius: 36px 0px;
  position: absolute;
  left: -50px;
  top: 10px;
}

.main-container__subtitle {
  padding-top: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  letter-spacing: 0.09em;
}

.main-container__link {
  width: 250px;
  height: 60px;
  background: var(--secondary-color);
  border-radius: 30px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
  letter-spacing: 0.25em;
  text-align: center;
  line-height: 60px;
  margin-top: 30px;
}

.footer {
  height: 130px;
  background-color: black;
  color: var(--text-dark);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.footer__item {
  width: 33%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__item a {
  padding-top: 10px;
  color: var(--links);
}
