.wrapper {
    min-height: calc(100vh - 100px);
    background-image: url(../../assets/images/audience.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.results {
    margin: 20px;
    padding: 20px;
    background-color: #393232;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
}

.enter {
    opacity: 0;
}

.enterActive {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.exit {
    opacity: 1;
}

.exitActive {
    opacity: 0;
    transition: opacity 300ms ease-out;
}
@media screen and (max-width: 1040px) {
    .header {
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .wrapper {
        padding: 30px 15px;
    }
}


