.wrapper {
    min-height: calc(100vh - 100px);
    background-image: url(../../assets/images/audience.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 100px;
}

.header {
    display: flex;
    justify-content: space-between;
}