.hero {
    height: calc(100vh - 100px);
    background-image: url(../../assets/images/audience.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 150px 0 0 22%;
}

.subtitle {
    padding-top: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.09em;
    color: #171570;
}

.button {
    width: 250px;
    height: 60px;
    background-color: #118A59;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 21px;
    letter-spacing: 0.25em;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    text-decoration: none;
    box-shadow: 0 3px 12px -5px rgba(#000, .9);
}

@media screen and (max-width: 1040px) {
    .hero {
        padding-top: 100px;
    }
    .subtitle {
        font-size: 20px;
    }

    .button {
        width: 180px;
        height: 50px;
        border-radius: 25px;
        font-size: 16px;
        line-height: 50px;
    }
}
