.wrapper {
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    background-color: #B6B2B2;
    border-radius: 10px;
    padding: 15px;
    color: #393232;
    .title {
        font-size: 18px;
        padding-bottom: 10px;
    }
    .artist_data {
        font-size: 15px;
        padding-bottom: 5px;
    }
}

