.wrapper {
    width: 320px;
    height: 46px;
    background-color: #393232;
    border-radius: 23px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}